{% extends "component-base.html" %}
{% block content %}

<main class="content">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-12 col-lg-12 col-xxl-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header">
						<h5 class="card-title mb-0">Stock List</h5>
					</div>
					<table class="table table-hover my-0">
						<thead>
							<tr>
                <th>#</th>
								<th>Name</th>
								<th>Quantity</th>
                <th>Price</th>
                <th>Re-order Level</th>
                <th>Supplier</th>
                <th>Category</th>
                <th colspan="2">Actions</th>
							</tr>
						</thead>
						<tbody>
{% for product in products %}
							<tr>
                <td>{{product.id}}</td>
								<td>{{product.name}}</td>
                <td class="">{{product.quantity}}</td>
                <td class="">{{product.price}}</td>
								<td class="">{{product.re_order_level}}</td>
                <td class="">{{product.supplier}}</td>
                <td class="">{{product.category}}</td>
								<td class="">
                  <a href="#" class="btn btn-primary">Update</a>
                </td>
								<td>
                  <a href="#" class="btn btn-danger">Delete</a>
                </td>
							</tr>
{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</main>


{% endblock content %}
