{% extends "component-base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<main class="content">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-12 col-lg-12 col-xxl-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header">
						<div class="row">
							<div class="col-9">
								<h5 class="card-title mb-0">PAY ORDER</h5>
							</div>
							<div class="col-3">
								<a href="{% url 'home' %}" class="btn btn-secondary">Back Home</a>
							</div>
              <p class="text-center">Order Amount: {{order_amount}}</p>
						</div>
					</div>
          <div class="card-text">
            <form class="" action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
                {{form | crispy}}
								<div class="row">
									<div class="col-4">
										<div class="text-center mt-3">
		                  <button type="submit" onclick="cashPayment()" class="btn btn-lg btn-primary">PAY WITH CASH</button>
		                </div>
									</div>
									<div class="col-4">
										<div class="text-center mt-3">
		                  <button type="submit" onclick="mpesaTransfer()" class="btn btn-lg btn-success">PAY VIA MPESA</button>
		                </div>
									</div>
									<div class="col-4">
										<div class="text-center mt-3">

		                  <button type="submit" onclick="bankTransfer()" class="btn btn-lg btn-secondary">BANK TRANSFER</button>
		                </div>
									</div>
								</div>
            </form>
          </div>
				</div>
			</div>
		</div>

	</div>
</main>
<script>
	function bankTransfer() {
		alert("Paid using Bank Transfer")
	}
	function cashPayment() {
		alert("Paid using cash")
	}
	function mpesaTransfer() {
		alert("Paid using Mpesa Transfer")
	}
</script>

{% endblock content %}
