{% extends "component-base.html" %}
{% block content %}

<main class="content">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-12 col-lg-12 col-xxl-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header">
						<div class="row">
							<div class="col-10">
								<h5 class="card-title mb-0 text-center">Documents List</h5>
							</div>
              <hr>
						</div>
					</div>
          <div class="card-text ml-3">
            <h3 class="text-center">Product: {{object.name}}</h3>
            <h6 class="text-center">Category: {{object.category}}</h6>
            <h6 class="text-center">Original Price: {{object.price}}</h6>
            <h6 class="text-center">Discount Price: {{object.price}}</h6>
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from Cart
            </a>
          </div>

				</div>
			</div>
		</div>

	</div>
</main>


{% endblock content %}
